/Library
/Logs
/obj
/Temp
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/HoloeverMR.csproj
/HoloeverMR.Editor.Assembly.csproj
/HoloeverMR.Editor.csproj
/HoloeverMR.RunTime.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEngine.TestRunner.csproj
/.vs
